[gcode_macro _FILAMENT_FEED_STEP]
description: "Single feed step for FILAMENT_FEED"
gcode:
    {% set T = params.T|int %}
    {% set speed = params.S|float %}
    {% set dist = params.D|float %}
    {% set stepper = "extruder_stepper _tool%s_feeder" % T %}
    {% set sensor = "filament_switch_sensor filament_sensor_at_tool%s" % T %}
    {% set moved = printer["gcode_macro FILAMENT_FEED"].moved|float %}
    {% set max_dist = params.MAX|float %}

    # Check sensor BEFORE moving
    QUERY_FILAMENT_SENSOR SENSOR=filament_sensor_at_tool{T}
    {% if printer[sensor].filament_detected %}
        #SET_GCODE_VARIABLE MACRO=FILAMENT_FEED VARIABLE=triggered VALUE=1
        RESPOND MSG="Tool {T}: Sensor triggered at {moved} mm"
    {% elif moved >= max_dist %}
        #SET_GCODE_VARIABLE MACRO=FILAMENT_FEED VARIABLE=triggered VALUE=0
        RESPOND MSG="Tool {T}: Max distance {max_dist} reached Aborting"
    {% else %}
        # Move filament if not yet detected
        FORCE_MOVE STEPPER="{stepper}" DISTANCE={dist} VELOCITY={speed}
        G4 P100
        # Update moved distance
        SET_GCODE_VARIABLE MACRO=FILAMENT_FEED VARIABLE=moved VALUE={moved + dist}
        #RESPOND MSG="Moved {dist}mm for a total  of {printer["gcode_macro FILAMENT_FEED"].moved + dist}mm" 
        _FILAMENT_FEED_STEP T={T} S={speed} D={dist} MAX={max_dist} #call second step
    {% endif %}

